<footer id = "main-footer">
    <!--Footer-Left Side: copyright,contact us, about -->
    <div id = "LeftElementsFooter">
        <p>Copyright &copy; 2021 RACE HEAT</p>
        <a href="/contact">Contact Us</a>
        <a href="/about">About</a>
    </div>

    <!--Footer-Right Side: Facebook and Twitter-->
    <div>
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a> 
        <a  href="https://twitter.com/" class="fa fa-twitter"></a>
    </div>
</footer>
</body> 
</html>
