<%- include("./partials/header.ejs")%> 
<div class ="Footer_ele">
<h3>RACE HEAT CREATES SPORTS OPPURTUNITIES</h3>
<p> RACE HEAT is a platform for finding and building the oppurtunities for the people who are interested in sports.</p> 
<p>People use RACE HEAT to meet new people, get out of their comfort zones, and pursue their passions in sports together.</p>
<p> Create a sport events or find sport event. </p>
</div>
<%- include("./partials/footer.ejs")%>