<%- include("./partials/header.ejs")%>
        <img src ="/Images/Biking vs running.jpg" alt="Welcome image" height = "450" width = "1425"> 
        <div class="mainbody">
            <!--Welcome page content-Body of the home page-->    
            <h1 class="bodyheadings"> WELCOME TO RACE HEAT</h1>
            <h2 class="bodyheadings">Create or Discover Sport Events</h2>
            <h3 class="bodyheadings">Create sports events and Let others discover events</h3>
            <img src = "/Images/Cycling-event.jpg" alt = "cycling image" height = "400" width = "900">
            <img src = "/Images/running_event.jpg" alt="running image" height = "400" width = "900">
        </div>
       
<%- include("./partials/footer.ejs")%> 

    

